body {
  color: rgb(255, 255, 255);
  margin: 25px auto;
}
h2 {
  font-size: 70px;
  font-weight: 200;
  margin-bottom: 50px;
}
.src-code {
  font-weight: 300;
  font-size: 14px;
  display: block;
  padding: 30px;
  text-align: right;
}
#search-text-input {
  border-radius: 15px;
  border-color: transparent;
  margin: 10px auto;
  padding-right: 40px;
  padding-left: 7px;
  font-style: italic;
  color: darkslateblue;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

#celsius-temp {
  text-decoration: none;
  color: #fff;
  font-size: 40px;
  font-weight: 170;
}
.current-position {
  display: inline;
  list-style: none;
}
.current-position-button {
  border-radius: 15px;
  border-color: transparent;
  display: block;
  padding-left: 5px;
  background-color: #fff;
  transition: all 360ms ease-in-out;
}
.current-position-button:hover {
  background-color: #09203f;
  cursor: pointer;
}
.more-info.left {
  list-style: none;
  margin-left: -33px;
  font-weight: 170;
  font-size: 20px;
}
.more-info.right {
  list-style: none;
  line-height: 24px;
  font-size: 20px;
  font-weight: bold;

  font-size: 23px;
}

.city {
  display: inline;
  font-weight: 200;
  font-style: italic;
  font-size: 27px;
  list-style: none;
}
.country {
  display: inline;
  font-weight: 300;
  font-size: 27px;
  font-style: italic;
  list-style: none;
}

.description:first-letter {
  text-transform: capitalize;
}
.description {
  font-size: 23px;
  font-weight: 200;
  font-style: italic;
}
#weather-img {
  margin-right: 5px;
  height: 100px;
  width: 100px;
}
#forecast {
  font-size: 19px;
  font-weight: 200;
  padding: 0px;
  margin: 0 auto;
}
.weather-forecast-temperature-min {
  font-weight: bolder;
}
